@model PierresTreats.Models.Treat

<h2>New</h2>
<hr />
<h3>Add a new treat</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Name)
  @Html.TextBoxFor(m => m.Name)
  <br>
  @Html.LabelFor(m => m.Description)
  @Html.TextBoxFor(m => m.Description)
  <br>
  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")
  <br>
  <button type="submit" value="Add new treat" class="btn btn-primary">Add</button>
}