@using PierresTreats.Models;

<h1>Welcome to Pierre's Sweet and Savory Treats!</h1>

<h3>Available Treats</h3>
@if(((List<PierresTreats.Models.Treat>)ViewData["treats"]).Count == 0)
{
  <p>No treats are available right now!</p>
}
else
{
  @foreach (Treat treat in (List<PierresTreats.Models.Treat>)ViewData["treats"])
  {
    <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId })</li>
  }
}

<h3>Available Flavors</h3>
@if(((List<PierresTreats.Models.Flavor>)ViewData["flavors"]).Count == 0)
{
  <p>No flavors are available right now!</p>
}
else
{
  @foreach (Flavor flavor in (List<PierresTreats.Models.Flavor>)ViewData["flavors"])
  {
    <li>@Html.ActionLink($"{flavor.Description}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
  }
}

<p>@Html.ActionLink("See all treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See all flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Log in", "Login", "Account")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>